.activity-card {
    background-color: #FFFFFF;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.activity-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.activity-header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.activity-user {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.activity-user:hover {
    color: #0056B3;
}

.activity-time {
    font-size: 1rem;
    color: #6C757D;
    margin-left: 15px;
}

.activity-reply {
    font-size: 1.1rem;
    font-weight: normal;
    color: #343A40;
    margin-top: 10px;
}

.course-name {
    font-weight: bold;
    color: #007BFF;
}

.activity-comment {
    color: #343A40;
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 10px;
}

h3 {
    color: #007BFF;
    font-size: 2rem;
    margin-bottom: 15px;
}

hr {
    border: 1px solid #E9ECEF;
    margin-bottom: 20px;
}

#image-preview {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #000000;
    margin-right: 5px;
}