{% extends "main.html" %}

{% block content %}

    <div>
        <h1>{{ course.name }}</h1>
        <h3> {{ course.teacher }}</h3>
        <p>{{ course.description }}</p>
        <small>{{ course.subject }}</small>
    </div>

    <div class="comments-list">
        <h3>Messages</h3>

        {% for comment in comments %}
            <div>
                <h5>{{ comment.user }}   {{ comment.created | timesince}} ago</h5>
                <p>
                   {{ comment.message }}
                </p>
            </div>
        {% endfor %}
    </div>

    <div class="comment-form">
        <form method="post" action="">
            {% csrf_token %}
            <label for="comment"></label>
            <textarea id="comment" name="comment" rows="5" cols="40" placeholder="Write your message..."></textarea>
            <button type="submit">Send</button>
        </form>
    </div>

{% endblock %}