{% extends "main.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/home.css' %}">


    <div class="home-container">

        <div class="search-box">
            <h3>Search Course</h3>
            <hr>
        
            <div>
                <a href="{% url "home" %}">All</a>
            </div>

            {% for subject in subjects %}
                <div>
                    <a href="{% url "home" %}?q={{ subject.name }}">{{ subject.name }}</a>
                </div>
            {% endfor %}
        </div>
    
        <div class="container-course">
            <h2>{{ course_sum }} courses are waiting for You!</h2>
            <a href="{% url "create_course" %}">Create Course</a>

            <div>
                {% for course in courses %}
                {% include "kursy_online/course_list.html" %}
                {% endfor %}
            </div>
        </div>
    
        <div class="activities">
            {% if request.user.is_authenticated %}
                <div class="home-activities">
                    {% include "kursy_online/recent_activities.html" %}
                </div> 
            {% else %}
                <div>
                    <p>Join our competence platform and develop your skills with us! {{ users_sum }} users have already trusted our community, taking advantage of our wide range of courses and trainings. Log in now to gain new qualifications, develop your career and join a dynamically growing group of professionals. Inspiring materials, interactive lessons and expert support are waiting for you!</p>
                </div>
            {% endif %}
        </div>
    
    </div>

{% endblock %}
