{% extends "main.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/your_courses.css' %}">

    <h1>Your Courses</h1>
    <div class="container">
        <div>
            <h2>Courses You have created</h2>
            {% if created_courses %}
                {% for course in created_courses %}
                    {% include "kursy_online/course_list.html" %}
                {% endfor %}
        {% else %}
            <p>You haven't created any courses yet.</p>
        {% endif %}
        </div>
    
        <div>
            <h2>Courses You joined</h2>
            {% if joined_courses %}
                {% for course in joined_courses %}
                    {% include "kursy_online/course_list.html" %}
                {% endfor %}
        {% else %}
            <p>You haven't joined any courses yet.</p>
        {% endif %}
        </div>
    
    </div>
    
    
{% endblock %}